

body{
    
    color: rgb(223, 169, 89);
    font-family: 'Oxygen', sans-serif;
}
a #brand_name{   
    font-size: 200%;
    margin-top: 15px;
    margin-bottom: 15px;
}

a{
    color: rgb(223, 169, 89);
}
#header-nav{
    background-color:#b61717;
    border-radius: 0%;
}
#header-nav a:hover,a:active{
    color: blanchedalmond;
    text-decoration: none;
}
#header-nav a:link a:visited{
    color: rgb(223, 169, 89);
}
#chicken,#beef,#sushi{
    padding-top: 0.001%;
    margin-top: 15px;
    background-color: rgb(228, 228, 198);
}
.menu-items a:hover a:active{
    color: blanchedalmond;
    text-decoration: none;
}
.menu-items a:link a:visited{
    color: rgb(223, 169, 89);
}
#nav-list a {
    color: rgb(223, 169, 89);
    background-color:#b61717;
}

